/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++Basis++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

p {
    font-size: 12px;
}

:root {
    --button-main-colour: #2dbce8;
    --button-secondary-colour: #f7bb26;

    --focus-colour: #f05310;

    --font-light-colour: #c7d4e0;
    --font-dark-colour: #0c0023;

    --bg-main-colour: #a3b6c6;
    --bg-secondary-colour: #000533;
}


:focus-visible {
    outline: 3px solid var(--focus-colour) !important;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------HEADER CSS------------------------------------------------------- */

header {
    background-color: var(--bg-secondary-colour);
}

header a {
    color: var(--font-light-colour);
    text-decoration: none;
    padding-left: 2em;
}

header nav ul li {
    list-style: none;
    padding-bottom: .5em;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------FOOTER CSS------------------------------------------------------- */

footer {
    background-color: var(--bg-secondary-colour);
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------MAIN CSS--------------------------------------------------------- */

main {
    background-color: var(--bg-main-colour);
}

main h2 {
    color: var(--font-dark-colour);
}

main p {
    color: var(--font-dark-colour);
}

/* ------------------MAIN HOMEPAGE-------------------- */

main section:first-of-type a:first-of-type {
    background-color: var(--button-main-colour);
    outline: none;
    text-decoration: none;
    color: var(--font-button-colour);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

main section:first-of-type a:last-of-type {
    background-color: var(--button-secondary-colour);
    outline: none;
    text-decoration: none;
    color: var(--font-button-colour);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

main section:first-of-type li {
    background-color: var(--bg-secondary-colour);
}

main section:first-of-type li p {
    background-color: var(--bg-secondary-colour);
    color: var(--font-light-colour);
}

/* ------------------MAIN THE BIG 3-------------------- */

main section:last-of-type a:last-of-type {
    background-color: var(--button-secondary-colour);
    outline: none;
    text-decoration: none;
    color: var(--font-button-colour);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}